<!-- <rewrite>
        <rules>
            <remove name="Http to Https" />
            <rule name="Http to Https" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                <match url="*" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" />
                </conditions>
                <serverVariables />
                <action type="Redirect" url="https://codespick.herokuapp.com" />
            </rule>
        </rules>
    </rewrite> -->

# Canonical https/www
<IfModule mod_rewrite.c>
  RewriteCond %{HTTPS} off RewriteRule (.*) https://codespick.herokuapp.com
  [L,R=301] RewriteCond %{HTTP_HOST} !^www\. [NC] RewriteRule (.*)
  https://www.codespick.herokuapp.com [L,R=301]
</IfModule>
